.burgerButton {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  position: relative;

  &:focus {
    outline: none;
  }

  .line {
    width: 32px;
    height: 3px;
    background: var(--color-text);
    border-radius: 10px;
    transition: all 0.3s ease;
    position: absolute;
    transform-origin: center;
    left: 0;

    &:nth-child(1) {
      top: 6px;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 6px;
    }
  }

  &.open {
    .line:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(3) {
      bottom: auto;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  @media (max-width: 1024px) {
    display: flex;
  }
}
