.burgerButton {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  position: relative;

  &:focus {
    outline: none;
  }

  .line {
    width: 32px;
    height: 3px;
    background: var(--color-text);
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
    transform-origin: center;
  }

  &.open {
    .line:nth-child(1) {
      transform: rotate(45deg) translateY(10px);
    }

    .line:nth-child(2) {
      opacity: 0;
      transform: translateX(-20px);
    }

    .line:nth-child(3) {
      transform: rotate(-45deg) translateY(-10px);
    }
  }

  @media (max-width: 1024px) {
    display: flex;
  }
}
