.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-2xl);
  border-bottom: 1px solid rgb(74 124 89 / 40%);
}
