// Импорты стилей
@import '@/shared/lib/styles/reset.scss';
@import '@/shared/lib/styles/global.scss';
@import '@/shared/lib/styles/typography.scss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
