.header {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 0 var(--space-xl) 0 var(--space-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  text-decoration: none;
  text-shadow: 0 0 10px rgb(0 0 0 / 10%);
  letter-spacing: 0.05em;
  text-transform: uppercase;

  /* Анимации для скрытия/показа */
  transition:
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s ease-in-out;
  transform: translateY(0);

  /* Стили при скролле */
  &.headerScrolled {
    box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
    backdrop-filter: blur(10px);
  }

  /* Скрытие хедера */
  &.headerHidden {
    transform: translateY(-100%);
  }

  .containerLogo {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: var(--space-lg);
    font-size: var(--font-size-xl);
    font-weight: 700;
  }

  .logoImg {
    &:hover {
      transform: rotate(10deg);
    }
  }

  .nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;

    .menu {
      display: flex;
      gap: var(--space-3xl);
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: var(--font-size-lg);
      font-weight: 500;
    }
  }

  .navLink {
    text-decoration: none;
    color: var(--color-text);
    transition: var(--transition);

    &:hover {
      color: var(--color-text-hover);
    }
  }
}
