.vacancyCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-lg);
  margin-top: var(--space-xl);
  padding-bottom: var(--space-2xl);
  border-bottom: 1px solid rgb(74 124 89 / 40%);
}
