.card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  border: 3px solid transparent;
  background: linear-gradient(
      135deg,
      rgb(255 255 255 / 20%),
      rgb(74 124 89 / 15%)
    )
    border-box;
  border-radius: var(--radius-md);
  padding: var(--space-md);
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: var(--color-text);
    color: var(--color-text);
    stroke: var(--color-text);
    width: 50%;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  h2 {
    font-size: var(--font-size-xl);
  }

  p {
    font-size: var(--font-size-lg);
  }
}

.universityContainer {
  display: flex;
  flex-direction: column;
}
